@model PagedList.IPagedList<IndproCareer.Entity.Models.Class>
@using PagedList.Mvc

@{
    ViewBag.Title = "Class";
}

<div class="col-md-10">
    <div class="col-md-5">
        @using (Html.BeginForm("Index", "Classes", FormMethod.Post))
        {
            @Html.TextBox("Name", "", new { @placeholder = "Search By Name" })
            <input type="submit" id="search" />
        }
    </div>
    <div class="col-md-5">
        <button>
            @Html.ActionLink("Create Class", "Create")
        </button>
    </div>
</div>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", CurrentSort = ViewBag.CurrentSort })
        </th>

        <th>
            @Html.ActionLink("School", "Index", new { sortOrder = "SId", CurrentSort = ViewBag.CurrentSort })
        </th>

        <th>
            @Html.ActionLink("Madium", "Index", new { sortOrder = "Madium", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Schools != null)
                {
                    <span>@item.Schools.Name</span>
                }
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Madium)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClassNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClassNo })
            </td>
        </tr>
    }

</table>
<div id='Paging' style="text-align:right">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>