@model PagedList.IPagedList<IndproCareer.Entity.Models.College>
@using IndproCareer.Entity.Models;
@using PagedList.Mvc

@{
    ViewBag.Title = "College";
}

<div class="col-md-10">
    <div class="col-md-5">
        @using (Html.BeginForm("Index", "College", FormMethod.Post))
        {
            @Html.TextBox("Name", "", new { @placeholder = "Search By Name" })
            <input type="submit" id="search" />
        }
    </div>
    <div class="col-md-5">
        <button>
            @Html.ActionLink("Create New", "Create")
        </button>
    </div>
</div>
<p class="pull-right">
    @Html.ActionLink("Genarate PDF Data", "ExportData")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("University", "Index", new { sortOrder = "Id", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("YOE", "Index", new { sortOrder = "YOE", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("Contact", "Index", new { sortOrder = "Contact", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("City", "")
        </th>

        <th>
            @Html.ActionLink("Pincode", "Index", new { sortOrder = "Pincode", CurrentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("Adress", "")
        </th>


        <th>Action</th>
        <th></th>
    </tr>

    @foreach (College item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "School", new { Id = item.Id }, null)
            </td>

            <td>
                @if (item.Universitys != null)
                {
                    <span>@item.Universitys.Name</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.YOE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CId })
            </td>
        </tr>
    }

</table>
<div id='Paging' style="text-align:right">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>